.member-card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-color: #e1375836;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: left;
    max-width: 250px;
    display: inline-block;
}

.member-card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 30%);
}

.member-card-email {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: hsl(0, 0%, 30%);
}

.member-card-btn {
    background-color: rgba(108, 209, 240, 0.589);
    color: white;
    margin-left: 65%;
    padding: 10px;
    border-radius: 8px;
}

.member-likes {
    background-color: #b7b2c5;
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin: 100px;
    text-align: center;
}

.member-comments-wrapper {
    display: flex;
    justify-content: center;
}